[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "src/yay"]
	path = src/yay
	url = https://github.com/Jguer/yay
[submodule "apps/vim/plugged/vimtex"]
	path = apps/vim/plugged/vimtex
	url = https://github.com/lervag/vimtex
[submodule "apps/vim/plugged/ultisnips"]
	path = apps/vim/plugged/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "apps/vim/plugged/base16-vim"]
	path = apps/vim/plugged/base16-vim
	url = https://github.com/chriskempson/base16-vim
[submodule "apps/vim/plugged/vim-sxhkdrc"]
	path = apps/vim/plugged/vim-sxhkdrc
	url = https://github.com/baskerville/vim-sxhkdrc
