*.bnk
*log
apps/calcurse/caldav/oauth2_cred
apps/calcurse/caldav/sync.db
apps/calcurse/notes
apps/calcurse/apts*
apps/calcurse/todo*
apps/config/mpd/db
apps/config/mpd/state
apps/config/mpd/sticker.sql
apps/config/nitrogen/bg-saved.cfg
env/config/xfce4/panel/
apps/mpdscribble/*.journal
apps/vim/.netrwhist
fonts/.uuid
shells/fish/fish_variables
src/*
themes/config/gtk-2.0/gtkfilechooser.ini

!src/yay
