*log
apps/config/mpd/db
apps/config/mpd/state
apps/config/mpd/sticker.sql
apps/calcurse/caldav/oauth2_cred
apps/calcurse/caldav/sync.db
apps/calcurse/notes
apps/calcurse/apts*
apps/calcurse/todo*
apps/mpdscribble/*.journal
apps/config/spotify/Users/riper.33-user/pending-messages*
*.bnk
